services:
  - docker

git:
  depth: 1

branches:
  only:
  - master

language: generic

env:
  - NPM_TAG=latest IMAGE_NAME=theia-swift
  - NPM_TAG=next IMAGE_NAME=theia-swift

install:
  - cd "$IMAGE_NAME-docker"
  - IMAGE="theiaide/$IMAGE_NAME"
  - IMAGE_TAG="$IMAGE":$(npm view "@theia/core@$NPM_TAG" version)
  - echo $IMAGE_TAG
  # this makes it possible to see output of the docker build as it unfolds:
  # from https://stackoverflow.com/questions/43918874/how-to-increase-no-activity-wait-time-in-travis-ci
  - "travis_wait 30 sleep 1800 &"
  - docker build --build-arg "version=$NPM_TAG" --build-arg "GITHUB_TOKEN=$GITHUB_TOKEN" . -t "$IMAGE_TAG" --no-cache
  - docker tag "$IMAGE_TAG" "$IMAGE:$NPM_TAG"
  - docker run -d -p 0.0.0.0:4000:3000 "$IMAGE_TAG"

script: cd ../tests; yarn; yarn test-app-$IMAGE_NAME

before_deploy:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
deploy:
  provider: script
  script: docker push "$IMAGE"
  on:
    branch: master
  skip_cleanup: true

notifications:
  on_success: change
  on_failure: always
  on_start: never
  