services:
  - docker

git:
  depth: 2

branches:
  only:
  - master
  - build_on_changes

language: generic

env:
  - NPM_TAG=latest IMAGE_NAME=theia-full NODE_VERSION=10.15.3
  - NPM_TAG=next IMAGE_NAME=theia-full NODE_VERSION=10.15.3
  - NPM_TAG=latest IMAGE_NAME=theia NODE_VERSION=10
  - NPM_TAG=next IMAGE_NAME=theia NODE_VERSION=10
  - NPM_TAG=latest IMAGE_NAME=theia-java NODE_VERSION=10
  - NPM_TAG=next IMAGE_NAME=theia-java NODE_VERSION=10
  - NPM_TAG=latest IMAGE_NAME=theia-go NODE_VERSION=10
  - NPM_TAG=next IMAGE_NAME=theia-go NODE_VERSION=10
  - NPM_TAG=latest IMAGE_NAME=yangster NODE_VERSION=10
  - NPM_TAG=next IMAGE_NAME=yangster NODE_VERSION=10
  - NPM_TAG=latest IMAGE_NAME=theia-python NODE_VERSION=10
  - NPM_TAG=next IMAGE_NAME=theia-python NODE_VERSION=10
  - NPM_TAG=latest IMAGE_NAME=theia-swift NODE_VERSION=10
  - NPM_TAG=next IMAGE_NAME=theia-swift NODE_VERSION=10
  - NPM_TAG=latest IMAGE_NAME=theia-cpp NODE_VERSION=10.15.3
  - NPM_TAG=next IMAGE_NAME=theia-cpp NODE_VERSION=10.15.3
  - NPM_TAG=next IMAGE_NAME=theia-rust NODE_VERSION=10.15.3
  - NPM_TAG=latest IMAGE_NAME=theia-dart NODE_VERSION=10.15.3
  - NPM_TAG=next IMAGE_NAME=theia-dart NODE_VERSION=10.15.3

install:
  # this makes it possible to see output of the docker build as it unfolds:
  # from https://stackoverflow.com/questions/43918874/how-to-increase-no-activity-wait-time-in-travis-ci
  - "travis_wait 30 sleep 1800 &"
  - ./check_changed.sh $IMAGE_NAME || travis_terminate 0
  - ./build_container.sh $NPM_TAG $IMAGE_NAME $NODE_VERSION

script: cd tests; yarn; yarn test-app-$IMAGE_NAME

after_failure:
  script: cd $TRAVIS_BUILD_DIR && ./commit_screenshots.sh

before_deploy:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

deploy:
  provider: script
  script: docker push "$IMAGE"
  on:
    branch: master
  skip_cleanup: true

notifications:
  on_success: change
  on_failure: always
  on_start: never
